<!doctype html>
<html>

<head>
  <title>Initialisation de la maison</title>
  <script src="{{ url_for('static', filename='js/creation_lumiere.js') }}"></script>
</head>

<body>
  <h1>Création d'une pièce</h1>

  <p>{{liste_nom_pieces}}</p>

  <!-- Formulaire nombre de pieces -->
  <form method="POST" action="/add_lumiere" id="formulaire_ajout_lumiere">
    <!-- Input nombre de pieces à ajouter -->
    <div>
      <label for="nb_lumiere">Nombre de lumières :</label>
      <input type="number" id="nb_lumiere" name="nb_lumiere" min="1" step="1" value="1">
      <!-- Ajouter liste des pieces -->
    </div>

    <div id="div_lumiere_1">
      <label for="nom_lumiere_1">Nom de la lumiere :</label>
      <input id="nom_lumiere_1" name="nom_lumiere_1" required>

    </div>
    <button type="submit" id="btn_ajouter">Ajouter</button>
  </form>


  <!-- Formulaire sortie -->
  <form action="/">
    <button type="submit">Sortir</button>
  </form>

</body>

</html>